.cloze{
    margin: 10px 0;
    padding: 20px;
    font-family: Inter;
    width: calc(100% - 40px);
   
    border: 1px solid black;
    height: fit-content;
    border-radius: 10px;
    background-color: #86A789;


}

.selectionArea{
    
    margin: 10px 0;
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 90%;
    border-radius: 15px;
    background-color: azure;

}
.selectionArea span{
    margin: 1px 1px;
    width: fit-content;
    padding: 5px;
}

.selectionArea span:hover{
    cursor: pointer;
    background-color: rgb(100, 153, 102);
    border-radius: 25px;

}

.select{
    background-color: grey;
    
    border-radius: 25px;
}

.words{
    display: flex;
    flex-direction: column;
    width: 70%;

}
.words input{
    padding: 2px;
    font-size: 1.1em;
    height: 20px;
    margin: 2px 5px;
    border: none;
    border-radius: 7px;
}

.addBtn{
    margin: 20px;
    padding: 10px  20px;
    border-radius: 10px;
    border: none;
}
.addBtn:hover{
    cursor: pointer;
}