
.saving{
    position: fixed;
    left: 10px;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
    padding: 10px ;
    border-radius: 25px;
    width: 10%;
    background-color: #86A789;
}

.saveBtn{
    width: 90%;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
}

.previewBtn{
    font-size: 1.2em;
    width: 90%;
    height: 40px;
    border: none;
    margin-bottom: 5px;
    border-radius: 20px;
}

.saveBtn:hover{
    cursor: pointer;
    background-color: green;
}
.previewBtn:hover{
    cursor: pointer;
    background-color: rgb(1, 127, 230);
}